.carousel-inner {
  height: 580px;
}
@media only screen and (max-width: 430px) {
  
    .carousel-inner {
      height: 280px;
    }
  }

@media only screen and (max-width: 812px) {
  .cards-item {
    border: 2px solid yellow;
  }
}
